.vscode
__pycache__/
.ipynb_checkpoints
ֿeggs/
.eggs/
*.egg-info/
*.egg

build/
develop-eggs/
lib/
multirun/**
*.py[cod]
*$py.class

**/._.DS_Store
._.DS_Store
.DS_Store
**/.DS_Store

outputs/**
**/train_logs/**

**.pyc
*.pkl
*.ckpt
*.tar
*.pickle
*.npy
*.npz
*.pt
*.ptl
*.obj
*.log